engine-strict=true
auto-install-peers=true
strict-peer-dependencies=true
link-workspace-packages=true
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
